In [ ]:
"This is another string, but this time with double quotation marks."

In [ ]:
my_str_variable = 'this IS my STRING to PLAY around WITH.'

In [ ]:
my_str_variable.capitalize()

In [ ]:
my_str_variable

In [ ]:
my_str_variable[::2]

In [ ]:
my_str_variable = 'Test String'

In [ ]:
my_str_variable[0]

In [ ]:
my_str, idx = 'hello', 0
while idx < 8:
    if(idx >= len(my_str)):
        break
    print(my_str[idx])
    idx += 1

In [ ]:
my_str = 'hello'
for idx in range(len(my_str) -1, -1, -1):
    print(my_str[idx], end ='')

In [ ]:
range?

In [ ]:
my_str = 'Hello'
for char in my_str:
    print(char)

In [ ]:
my_name = [('Sean', 'Seal'),('Peter', 'Ralf')]

In [ ]:
print('Hello %s' %my_name)

In [ ]:
print('Hello {0}'.format(my_name))

In [ ]:
my_first_list = [1, 'Hello', 3, 'goodbye']

In [ ]:
my_second_list = list('hello')

In [ ]:
my_second_list

In [ ]:
my_third_list = list("12345")
my_third_list

In [ ]:
my_list_of_lists = [my_first_list, my_second_list, my_third_list]
my_list_of_lists

In [ ]:
my_lst = [1, 2, 3, 4, 4]

In [ ]:
my_lst.append(5)

In [ ]:
my_lst

In [ ]:
my_lst.pop()

In [ ]:
my_lst.remove(4)

In [ ]:
my_lst

In [ ]:
my_lst.reverse()

In [ ]:
my_lst

In [ ]:
my_lst.sort()

In [ ]:
my_lst

In [ ]:
my_lst = [1, 2, 'hello', 'goodbye']

In [ ]:
my_lst[1]

In [ ]:
my_lst[2:3]

In [ ]:
my_lst[:]

In [ ]:
my_lst[-1]

In [ ]:
my_lst = list(range(1,11))
my_lst

In [ ]:
my_lst[::3]

In [ ]:
my_lst[4::2]

In [ ]:
my_lst[:4:3]

In [ ]:
my_lst = list(range(1,31))

In [ ]:
for num in my_lst:
    print(num, end = ' ')

In [ ]:
for idx, num in enumerate(my_lst):
    print(idx, num)

In [ ]:
my_lst = list(range(1,6,1))
my_lst

In [ ]:
my_lst2 = [1.0, 2.0, 3.0, 4.0, 5.0]

In [ ]:
my_lst2

In [ ]:
my_lst3 = ['ten', 'minutes', 'till', 'lunch', '!']
my_lst3

In [ ]:
my_lst4 = [1, 2.0, 'three']
my_lst4

In [ ]:
my_final_list = [my_lst, my_lst2, my_lst3]
my_final_list

In [ ]:
my_lst = list(range(0,11,2))
my_lst

In [ ]:
my_lst.append(12)

In [ ]:
my_lst.reverse()
my_lst

In [ ]:
my_lst.count(12)

In [ ]:
my_lst.append(12)

In [ ]:
my_lst.count(12)

In [ ]:
list = [3, 7, 12, 15, 22]

In [ ]:
list[1]

In [ ]:
list[3]

In [ ]:
list[-3]

In [ ]:
list[1::2]

In [17]:
my_lst = list(range(1,11))

In [18]:
my_lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
for i in (my_lst):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [20]:
for i in my_lst:
    if(i % 2 != 0):
        print(i)

1
3
5
7
9

In [21]:
for idx, num in enumerate(my_lst):
    print(idx, num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [31]:
my_set = set([1, 3, 2])
my_other_set = {1, 2, 3}

In [34]:
my_set is my_other_set

False

In [35]:
my_set

{1, 2, 3}

In [36]:
my_set2 = set([1, 3, 2])

In [37]:
my_set is my_set2

False

In [42]:
test = set({})
type(test)

set

In [43]:
first_set = set(range(1,11))
first_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [44]:
second_set = set(range(5,16))
second_set

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [45]:
first_set.add(11)
first_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [46]:
second_set.add('hello')
second_set

{10, 11, 12, 13, 14, 15, 5, 6, 7, 8, 9, 'hello'}

In [47]:
second_set.add(22)

In [48]:
second_set

{10, 11, 12, 13, 14, 15, 22, 5, 6, 7, 8, 9, 'hello'}

In [56]:
first_set.intersection(second_set)

{5, 6, 7, 8, 9, 10, 11}

In [57]:
first_set.update(second_set)
first_set

{1, 10, 11, 12, 13, 14, 15, 2, 22, 3, 4, 5, 6, 7, 8, 9, 'hello'}

In [105]:
first_list = ['hello', 'there', 'things', 'stuff', 'other', 'soda', 'chicken wings', 'things', 'soda']

In [106]:
second_list = ['turkey sandwich', 'guacamole', 'chicken wings', 'OJ', 'soda']

In [110]:
#unique elements
unique_list = [x for x in first_list if first_list.count(x) == 1]
unique_list

['hello', 'there', 'stuff', 'other', 'chicken wings']

In [63]:
second_set = set(second_list)
second_set

{'OJ', 'chicken wings', 'guacamole', 'soda', 'turkey sandwich'}

In [64]:
first_set.intersection(set(second_list))

{'chicken wings', 'soda'}

In [90]:
timeit bool(list(first_set.intersection(second_set)).count('soda'))

525 ns ± 11.6 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [97]:
timeit 'pizza' in first_set.intersection(second_set)

213 ns ± 3.98 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [98]:
first_set.add(4)

In [104]:
for i in first_set:
    print(type(i))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>